<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-between align-items-center titleBanner">
            <h4>
              Profile Information
            </h4>
            <button class="buttonEditProfil" type="button">
              <i class="fa-solid fa-file-pen me-2"></i> EDITE PROFILE
            </button>
          </div>

          <div>
            <div>
              <h5>LAMINE DEVELOPPER</h5>
              <p>Name</p>
            </div>
            <div>
              <h5>contact@gmail.com</h5>
              <p>Email</p>
            </div>
            <div>
              <h5>(33) 777-5693</h5>
              <p>Phone</p>
            </div>
            <div>
              <h5>Champs Élysées, 75001 PARIS.</h5>
              <p>Address</p>
            </div>
          </div>



        </div>

      </div>
  </div>
</div>
