<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-start align-items-center titleBanner">
            <h4>
              Profile Information
            </h4>
          </div>

          <div>
            <div>
              <h4 class="m-0 p-0">{{username}}</h4>
              <p class="m-0 p-0">Username</p>
              <br>
            </div>
            <div>
              <h4 class="m-0 p-0">{{email}}</h4>
              <p class="m-0 p-0">Email</p>
              <br>
            </div>
            <div>
              <h4 class="m-0 p-0">{{id}}</h4>
              <p class="m-0 p-0">Id</p>
              <br>
            </div>
            <div>
              <h4 class="m-0 p-0">Champs Élysées, 75001 PARIS.</h4>
              <p class="m-0 p-0">Address</p>
              <br>
            </div>
          </div>



        </div>

      </div>
  </div>
</div>
