<div class="myHeader">
  <div class="container">
    <div class="d-flex justify-content-between justify-item-center">
      <a routerLink="/"><i class="fa-solid fa-house"></i> HOME</a>

      <div class="d-flex justify-content-between justify-item-center">
        <a routerLink="/add"><i class="fa-solid fa-square-plus"></i> ADD PRODUCT</a>
        <a routerLink="/profil"><i class="fa-solid fa-user ms-4"></i> MY PROFIL</a>
        <a routerLink="/cart"><i class="fa-brands fa-shopify ms-4"></i> CART</a>
      </div>

    </div>
  </div>
</div>
