<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-start align-items-center titleBanner">
            <h4>
              Logout
            </h4>
          </div>

          <div class="d-flex justify-content-center py-5">
            <div class="loading-screen">
              <div class="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>


          <br>
          <hr>
          <p class="my-5 text-center">SEE YOU LATER</p>

        </div>

      </div>
  </div>
</div>
