.homeWelcome{
  background-color: #3d061c;
  color: white;
  padding: 20px;
}


a{
  text-decoration: none;
  text-decoration-line: none;
  color:white;
}
a:hover{
  color:rgb(255, 209, 2);
}

.bgMaron{
  background-color:  rgb(35, 1, 16);
  padding: 20px;
}

.addProduct{

  width: 100%;
  text-align: center;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #3d061c;
  line-height: 1.15;
  font-size: 16px;

}
.addProduct:hover{

  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #3a4149;
  background: #e7ebee;
  line-height: 1.15;
  font-size: 16px;
}

.listProduits img{
  width: 100%;
}

.listProduits .produit{


}

.bgProduct{
  padding: 20px;
  background-color:  rgb(35, 1, 16);
  margin: 5px;
  position: relative;
}


/* PROMOTION ON PRODUCT */

.ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}

.ribbon::before,
.ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #ba24f0;
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon::before{
  top: 0px;
  right: 15px;
}

.ribbon::after{
  bottom: 15px;
  left: 0px;
}

.ribbon span{
  position: absolute;
  top:30px;
  right: 0;
  transform: rotate(-45deg);
  width:auto;
  background: #ba24f0;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}

.priceProduct{
  position: absolute;
  z-index: 3;
  background-color: red;
  font-size: 20px;
  color: white;
  padding: 3px 3px;
  top:30px;
  left: 0;
}

.bgProduct img{
  max-width: 250px;
  max-height: auto;
  margin: 20px 0 0 0;
}

/* ADDED MSG */


#card {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px auto;
  text-align: center;
}

#upper-side {
  padding: 2em;
  background-color: #8BC34A;
  display: block;
  color: #fff;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px;
}

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0;
}

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
