<div class="homeWelcome">

  <div class="container">
    <div class="row">
      <!-- LEFT SIDEBAR START -->
      <div class="col-md-4  d-none d-md-block">

        <div class="bgMaron mt-1 mb-5">

          <h5 class="mb-4">CATEGORIES</h5>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-camera ms-3 me-2"></i> Camera</a>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-headphones ms-3 me-2"></i> Casques</a>
          <hr>
          <a routerLink="/add"><i class="fa-brands fa-usb ms-3 me-2"></i> Cables</a>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-battery-full ms-3 me-2"></i> Batteries</a>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-bolt ms-3 me-2"></i> Chargers</a>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-tv ms-3 me-2"></i> Televisions</a>
          <hr>
          <a routerLink="/add"><i class="fa-brands fa-phoenix-squadron ms-3 me-2"></i> Drones</a>
          <hr>
          <a routerLink="/add"><i class="fa-solid fa-keyboard ms-3 me-2 mb-5"></i> Accessories</a>
        </div>
      </div>
      <!-- LEFT SIDEBAR END -->

      <!-- PRODUCT LIST START -->
      <div class="col-md-8">
        <div class="row g-2 bgProduct">

          <form>

            <div class="mb-3">
              <label for="name" class="form-label p-0 m-0">Product name</label>
              <input type="text" class="form-control p-2" id="name">
              <div *ngIf="2>5" class="alert alert-danger mt-1">Product name is required</div>
            </div>

            <div class="mb-3">
              <label for="price" class="form-label p-0 m-0">Price</label>
              <input type="number" class="form-control p-2" id="price">
              <div *ngIf="2>5" class="alert alert-danger mt-1">Price is required</div>
            </div>

            <p class="m-0 p-0">Product image</p>
            <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
            <div class="text-center">
              <img *ngIf="thumbnailURL" [src]="thumbnailURL" alt="Miniature de l'image">
            </div>

            <div class="my-3">
              <label for="name" class="form-label p-0 m-0">Product category</label>
              <select class="form-select" aria-label="Default select example">
                <option selected>Please select category name</option>
                <option value="1">Camera</option>
                <option value="2">Casques</option>
                <option value="3">Cables</option>
                <option value="4">Batteries</option>
                <option value="5">Chargers</option>
                <option value="6">Televisions</option>
                <option value="7">Drones</option>
                <option value="8">Accessories</option>
              </select>
              <div *ngIf="2>5" class="alert alert-danger mt-1">Product name is required</div>
            </div>

            <div class="mb-3 mt-3">
              <label for="details" class="form-label p-0 m-0">Product details</label>
              <textarea class="form-control p-4" id="details"></textarea>
              <div *ngIf="2>5" class="alert alert-danger mt-1">Product details is required</div>
            </div>

            <button type="submit" class="addProduct w-100 py-3 fw-bold">SAVE</button>
          </form>

        </div>
      </div>
      <!-- PRODUCT LIST END -->
    </div>
  </div>

</div>

