<div class="col-lg-6 col-md-6 leftSideBar">
  <a routerLink="/profil"><i class="fa-solid fa-address-card me-1"></i> MY PROFIL</a><br>
  <hr>
  <a routerLink="/profil/ordered"><i class="fa-solid fa-cart-arrow-down me-1"></i> ORDERED</a><br>
  <hr>
  <a routerLink="/profil/password"><i class="fa-solid fa-key me-1"></i> CHANGE PASSWORD</a><br>
  <hr>
  <a routerLink="/profil/delete"><i class="fa-solid fa-trash-can me-1"></i> DELETE ACCOUNT</a>
  <hr>
  <a routerLink="/profil/logout"><i class="fa-solid fa-right-from-bracket me-1"></i> LOGOUT</a>
</div>
