<div class="loginPage p-5">
  <div class="container">
    <div class="row d-flex justify-content-center">



      <div class="col-md-6">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="email" class="form-label p-0 m-0">Email address</label>
            <input type="email" class="form-control p-3" id="email" formControlName="email">
            <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched">
              <div class="alert alert-danger mt-1" *ngIf="myForm.get('email')?.errors?.['required']">Email is required</div>
              <div class="alert alert-danger mt-1" *ngIf="myForm.get('email')?.errors?.['email']">Email is invalid</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label p-0 m-0">Password</label>
            <input type="password" class="form-control p-3" id="password" formControlName="password">
            <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
              <div class="alert alert-danger mt-1" *ngIf="myForm.get('password')?.errors?.['required']">Password is required</div>
            </div>
          </div>

          <button type="submit" class="loginButton">LOGIN</button>
          <div *ngIf="errorWindow" class="alert alert-danger mt-1">{{errorMessage}}</div>
        </form>

        <div class="text-center mb-3">
          <hr class="mt-5 mb-3">
          <p>CREATE NEW ACCOUNT</p>
          <a routerLink="/user/register" class="registerButton">REGISTER</a>
        </div>

      </div>
    </div>
  </div>
</div>
