<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-start align-items-center titleBanner">
            <h4>
              Delete Account
            </h4>
          </div>

          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="text-center">
              <img src="../../../assets/images/remove.png" alt="">
            </div>

            <div class="mb-3">
              <label for="password" class="form-label p-0 m-0">Password</label>
              <input type="password" class="form-control p-3" id="password" formControlName="password">
              <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
                <div class="alert alert-danger mt-1" *ngIf="myForm.get('password')?.errors?.['required']">Password is required</div>
              </div>
            </div>

            <button type="submit" class="btn btn-dark w-100 py-3 fw-bold">DELETE ACCOUNT</button>
            <div class="alert alert-danger mt-1" *ngIf="errorWindow">{{errorMessage}}</div>
          </form>
        </div>

      </div>
  </div>
</div>
