<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-between align-items-center titleBanner">
            <h4>
              Ordered
            </h4>
            <button class="buttonEditProfil" type="button">
              <i class="fa-regular fa-trash-can me-2"></i> CLEAR
            </button>
          </div>

          <table class="table text-white">
            <thead>
              <tr>
                <th scope="col">ORDER ID</th>
                <th scope="col" class="w-50">NAME</th>
                <th scope="col">PRICE</th>
                <th scope="col" class="text-center">LINK</th>
              </tr>
            </thead>
            <tbody class="table-row">
              <tr>
                <th scope="row">#1254</th>
                <td>Mark</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
              <tr>
                <th scope="row">#1254</th>
                <td>Jacob</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
              <tr>
                <th scope="row">#1254</th>
                <td>Jacob</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
              <tr>
                <th scope="row">#1254</th>
                <td>Jacob</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
              <tr>
                <th scope="row">#1254</th>
                <td>Jacob</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
              <tr>
                <th scope="row">#1254</th>
                <td>Jacob</td>
                <td>75 €</td>
                <td class="text-center"><a routerLink="/show/details" class="buttonViewInTable"><i class="fa-solid fa-eye me-2"></i>VIEW</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
  </div>
</div>

