<div class="myprofil">
  <div class="container">
    <div class="row">

        <div class="col-lg-4 col-md-4">
          <app-leftsidebar></app-leftsidebar>
        </div>

        <div class="col-lg-8 col-md-8 profilContent">

          <div class="d-flex justify-content-start align-items-center titleBanner">
            <h4>
              Change password
            </h4>
          </div>

          <form>
            <div class="mb-3">
              <label for="oldpassword" class="form-label p-0 m-0">Old Password</label>
              <input type="password" class="form-control p-3" id="oldpassword">
              <div class="alert alert-danger mt-1">Password is required</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label p-0 m-0">New Password</label>
              <input type="password" class="form-control p-3" id="password">
              <div class="alert alert-danger mt-1">Password is required</div>
            </div>
            <div class="mb-3">
              <label for="confirmpassword" class="form-label p-0 m-0">Confirm Password</label>
              <input type="password" class="form-control p-3" id="confirmpassword">
              <div class="alert alert-danger mt-1">Password is required</div>
            </div>

            <button type="submit" class="btn btn-dark w-100 py-3 fw-bold">SAVE</button>
          </form>
        </div>
      </div>
  </div>
</div>
